/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  #ui-datepicker-div {
    background: aliceblue;
    width: 210px;
    padding-left: 10px;
  }

  .ui-datepicker-calendar {
      width: 200px !important;
  }

  .ui-datepicker-next.ui-corner-all {
    float: right;
    margin-right: 10px;
  }

@import "bootstrap-sprockets";
@import "bootstrap";

  .container {
    margin-top: -20px;
  }

  h4 {
    margin-top: 24px;
  }

  .navbar-brand {
    margin-top: 3px;
    line-height: 60px;
  }

  button.btn.btn-primary {
    margin-left: 190px;
  }

  .container.leave-margin {
    margin-top: 10px;
  }

  textarea#description {
    width: 350px;
  }

  #dp1479464034848 {
    width: 350px;
  }

  .ui-datepicker-title {
    padding-left: 45px; 
  }